<div class="btn-group" style="margin: 0px 10px 0px 10px;">
    <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        <!-- ko text: name --><!-- /ko --> <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
        <!--ko foreach: tasks-->
        <li>
            <a href="#" data-bind="click: $parent.selectTask">
                <span data-bind="text: name"></span>
            </a>
        </li>
        <!--/ko-->
    </ul>
</div>